<p>the student you wish to edit</p>

<form action="/students/<%=@student.id%>" method="POST">
  <label for="first-name-field"> <%=@student.first_name%>:</label>
  <input type="text" name="" id ="first-name-field">

  <label for="last-name-field"><%=@student.second_name%>:</label>
  <input id="last-name-field" type="text" name="last_name">


  <label for="student-select"><%=@student.house%>:</label>
    <select name="house_id" id="house_id-selection">
      <% for house in @houses do %>
      <option value="<%=house.id%>"><%=house.name%></option>
      <%end%>
    </select>


  <label for="quantity"><%=@student.age%>:</label>
  <input id="quantity" type="number" name="quantity"/>

  <input type="submit" name="" value="update"/>

</form>
